{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}CoreCode Construction{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>{% block header %}CoreCode Construction{% endblock %}</h1>
    </header>
    <main>{% block content %} <a href="#">Link</a> {% endblock %}</main>
  </body>
</html>
